*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #f0f2f5 70%, white 30%);
}


.logo{
    height: 60px;
    display: flex;
    justify-content: center;
}

.form-container{
    background-color: #FFF;
    width: 25%;
    margin: 30px auto;
    border-radius: 10px;
    border: 1px solid silver;
    display: flex;
    flex-direction: column;
}

.new-url{
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 80px;
}

.new-url a{
  color: #1877f2;
  text-decoration: none;
  font-size: 14px;
}

.new-url a:hover{
  text-decoration: underline;
}

.form-container h2{
    text-align: center;
    margin-top: 20px;
    font-weight: 100;
}

input{
    margin-top: 20px;
    margin-left: 10px;
    width: 95%;
    border-radius: 6px;
    padding: 15px 0px 15px 20px;
    border: 0.5px solid #999;
    font-size: 16px;
}

input:focus{
    outline: none;
}

.form-container button{
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 6px;
    width: 95%;
    background-color: #1877f2;
    color: white;
    font-size: 20px;
    padding: 10px 0px;
}

::-webkit-input-placeholder {
    padding: 0px;
  }
  
  :-moz-placeholder {
    padding: 0px;
  }
  
  ::-moz-placeholder {
    padding: 0px;
  }
  
  :-ms-input-placeholder {  
    padding: 0px;
  }
  
  ::placeholder {
    padding: 0px;
    font-size: 16px;
    color: #999;
    opacity: 1;
  }

  #bottom{
    margin-top: 250px;
    position: relative;
  }

  p{
    margin-left: 200px;
    color: #999;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  a{
    margin-bottom: 10px;
    color: #999;
    font-size: 14px;
  }

  a img{
    width: 40px;
    height: 30px;
    position: absolute;
    bottom: 100px;
    margin-left: 10px;
  }

  hr{
    margin-left: 200px;
    width: 62%;
  }

  #copyright{
    padding-bottom: 10px;
  }